---
layout: default
carousels:
    - images:
        - image: /assets/images/ReadformiPadSplitTheme.png
        - image: /assets/images/ReadformiPadReadingSplitTheme.png
        - image: /assets/images/ReadformiPhoneSettings.png
        - image: /assets/images/ReadformiPhoneChapterSpread.png
        - image: /assets/images/ReadformProviderSearch.png
        - image: /assets/images/ReadformTOC.png
---

<div style="flex-direction: column;">
{% include carousel.html height="400" unit="pt" duration="7" number="1" %}
{% capture my_include %}{% include_relative /home.markdown %}{% endcapture %}
{{ my_include | markdownify }}
</div>

