//
// VARIABLES
//


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

html, html[data-theme="light"] {

  // Colors
    --color-link: #114270;
    --color-tag: #a18b64;
    --color-nav-background: #ffeacb;
  
    --color-standard-text: #322b1e;
    --color-heading: #8a7f6a;
    --color-body: #322b1e;
    --color-subText: #8a7f6a;
    --color-select: #eee;
    --color-background: #f2debf;
    --color-button: #114270;
    --color-quote-bar: #782600;
    --color-quote-text: #8a7f6a;

    .site-logo {
        background-image: url('/assets/images/logo-dark.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 200pt;
        height: 50pt;
    }

}
  
html[data-theme="dark"] {
  
  // Colors
    --color-link: #83a598;
    --color-tag: #9c6c0e;
    --color-nav-background: #1d2021;
  
    --color-standard-text: #fbf1c7;
    --color-heading: #918967;
    --color-body: #fbf1c7;
    --color-subText: #ebdbb2;
    --color-select: #444;
    --color-background: #32302f;
    --color-button: #59590f;
    --color-quote-bar: #9c6c0e;
    --color-quote-text: #ebdbb2;

    .site-logo {
        background-image: url('/assets/images/logo-light.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 200pt;
        height: 50pt;
    }

}


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
